.single-course-heatmap {
  width: 100%;
  height: 100%;
}

.single-course-heatmap .highcharts-container {
  width: 100% !important;
  height: 100% !important;
}

.single-course-heatmap text {
  font-family: 'Inter', sans-serif;
}
