.world-map-observable {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.world-map-observable canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
}
